<select name="badge-sorter">
  <option>Sort Badges</option>
  <option value="name-desc">Name (A-Z)</option>
  <option value="name-asc">Name (Z-A)</option>
  <option value="issuedOn-asc">Date (newest first)</option>
  <option value="issuedOn-desc">Date (oldest first)</option>
</select>
