<ul>
  <li>
    <i class="fa fa-list"></i>
    <select name="category" id="category-field">
      <option>Category</option>
    </select>
  </li>
  <li>
    <i class="fa fa-circle-o"></i>
    <select name="badge-status" id="badge-status-field">
      <option>Badge Status</option>
    </select>
  </li>
  <li>
    <i class="fa fa-th-large"></i>
    <select name="topic" id="topic-field">
      <option>Topic</option>
    </select>
  </li>
  <li>
    <i class="fa fa-calendar"></i>
    <select name="date" id="date-field">
      <option>Date</option>
    </select>
  </li>
  <li>
    <button>Search <i class="fa fa-search"></i></button>
  </li>
</ul>
