// Grayscale
$black: #000000;
$grey1: #191919;
$grey2: #333333;
$grey3: #4c4c4c;
$grey4: #666666;
$grey5: #808080;
$grey6: #7f7f7f;
$grey7: #999999;
$grey8: #b3b3b3;
$grey9: #cccccc;
$grey10: #e6e6e6;
$white: #ffffff;

// Colors
$cayene: #800000;
$red: #ff0000;
$salmon: #ff6666;
$brown: #804000;
$orange: #ff8000;
$cantelope: #ffcc66;
$yellow: #ffff00;
$lt-yellow: #ffff66;
$honeydew: #ccff66;
$flora: #66ff66;
$lime: #80ff00;
$spring: #00ff00;
$fern: #408000;
$moss: #008040;
$green: #008000;
$asparagus: #808000;
$spindrift: #66ffcc;
$teal: #008080;
$turquoise: #00ffff;
$ice: #66ffff;
$sky: #66ccff;
$orchid: #6666ff;
$aqua: #0080ff;
$blue: $blue;
$ocean: #004080;
$navy: #000080;
$mauve: #800080;
$purple: #400080;
$maroon: #800040;
$magenta: #ff00ff;
$lt-purple: #8000ff;
$hot-pink: #ff0080;
$bubblegum: #ff66ff;
$pink: #ff6fcf;
$lavender: #cc66ff;
$post-it: #ffc;

$main-navigation-bg-color: $white;
$badge-bg-color: $white;
$awarded-ribbon-color: $green;
$in-queue-ribbon-color: $yellow;
$reviewed-ribbon-color: $pink;
$favorite-ribbon-color: $turquoise;
$pagination-border-color: $grey3;
$pagination-bg-color: $white;
$pagination-current-color: $white;
$pagination-current-bg-color: $blue;
