#container {
  @include outer-container;
  @include clearfix;
  position: relative;
  height: 100%;
  background-color: $grey8;
}

#header {
  @include span-columns(12);
  position: relative;
  min-height: em(125);
  background-color: $grey5;

  h1 {
    @extend %hide-text;
    width: 100%;
    height: 270px;
    background: {
      image: url("images/csol_logo.png");
      repeat: no-repeat;
      position: center top;
    }
  }
}

#header-navigation {
  position: absolute;
  right: 2em;
  bottom: 0;
  left: 2em;
  box-shadow: 0 0 em(8) em(3) rgba(0, 0, 0, 0.25);

  ul {
    @extend %horizontal-list;
    text-align: center;
    background: {
      color: $main-navigation-bg-color;
    }

    li {
      border-right: solid 1px $grey5;

      &:last-child {
        border: none;
      }

      a {
        padding: .5em 1em;
      }
    }
  }
}

#content {
  @include row;
  height: em(500);

  h2 {
    text-align: center;
  }
}

.content-header {
  @include row;

  p {
    @include span-columns(8);
    @include shift(2);
    @include omega;
  }
}

.badge-filters {
  @include row;

  ul {
    @include clearfix;
    @include span-columns(10);
    @include shift(1);
    @include omega;
    @extend %horizontal-list;
    border: solid 1px $grey5;
    padding: .5em;

    li {
      @include span-columns(2 of 10);
      padding: .5em 0 0 0;
      select {
        @extend %reset-spacing;
        float: left;
        width: 82%;
      }

      i {
        display: inline-block;
        padding: 3px .5em 0 0;
        vertical-align: middle;
        float: left;
      }

      &:last-child {
        @include omega;
        padding: 0;
      }

      button {
        i {
          @extend %reset-spacing;
          float: none;
          display: inline-block;
        }
      }
    }
  }
}

.badges {
  @include row;
  margin: 2em 0;

  .badge {
    @include span-columns(3);
    @include clearfix;
    padding: 1em;

    &.omega {
      @include omega;
    }

    &.divider {
      @include fill-parent;
      @include omega;
      clear: both;
      height: 1px;
    }

    .inner {
      @include fill-parent;
      background: {
        color: $badge-bg-color;
      }
      overflow: hidden;
      position: relative;
      border: solid 1px $grey5;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
      padding: 1em;
    }

    .in-queue {
      .ribbon {
        background: {
          color: $in-queue-ribbon-color;
        }
      }
    }

    .awarded {
      .ribbon {
        background: {
          color: $awarded-ribbon-color;
        }
      }
    }

    .reviewed {
      .ribbon {
        background: {
          color: $reviewed-ribbon-color;
        }
      }
    }

    .favorite {
      .ribbon {
        background: {
          color: $favorite-ribbon-color;
        }
      }
    }

    .ribbon {
      @include transform(rotate(-45deg));
      width: 300px;
      display: block;
      padding-top: .25em;
      padding-bottom: .25em;
      position: absolute;
      padding: .25em 0 .25em 80%;
      left: -50%;
      top: 21%;
      background: {
        color: $red;
      }
    }

    .description {
      font-size: 1em;
      line-height: 1.25em;
      height: 3.75em;
    }

    .actions {
      @include fill-parent;
      @include clearfix;
    }

    i {
      cursor: pointer;
    }

    button {
      float: right;
    }
  }
}

#footer {
  @include row;
}
