%horizontal-list {
  @include clearfix;

  li {
    display: inline-block;

    a {
      display: inline-block;
    }
  }
}

%reset-dimensions {
  width: 100%;
  height: 100%;
}

%reset-spacing {
  margin: 0;
  padding: 0;
}

%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.button {
  @include button;
  font-size: 1em;
}
